<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title %></title>
        <!--<link rel='stylesheet' href='./anuncios-style.css' />-->
    </head>
    <body>
        <div class="anuncios.header" style="
        display: flex;
        justify-content: space-evenly;
        background-color: black;
        color: white; 
        text-align: center;
        font-size: 1.2rem;
        margin:2rem;
        padding: 1rem;
        ">
            <span style="width:10%"><p>Name</p></span>
            <span style="width:10%"><p>Price</p></span>
            <span style="width:10%"><p>On sale</p></span>
            <span style="width:10%"><p>Tags</p></span>
            <span style="width:10%"><p>Location</p></span>
        </div>

        <% resultado.forEach(anuncio => { %>
            <div class="anuncio.wrapper" style="
                display: flex;
                justify-content: space-evenly;
                background-color: lightseagreen;
                text-align: center; 
                margin:2rem;
                padding: 1rem;
                ">

                <span class="anuncio.title" style="
                margin:1rem;
                padding: 0.5rem;
                width: 10%;
                ">
                    <%= anuncio.name %>
                </span>

                <span class="anuncio.price" style="
                font-weight: bold;
                margin:1rem;
                padding: 0.5rem;
                width: 10%;
                ">
                    <span><%= anuncio.price %> €</span>
                </span>

                <span style="
                margin:1rem;
                padding: 0.5rem;
                width: 10%;
                ">
                    <%= anuncio.sale %>
                </span>

                <span style="
                margin:1rem;
                padding: 0.5rem;
                width: 10%;
                ">
                    <%= anuncio.tags %>
                </span>

                <span style="
                margin:1rem;
                padding: 0.5rem;
                width: 10%;
                ">
                    <%= anuncio.location %>
                </span>
                
            </div>
       <% }) %>
    </body>
</html>