<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <header>
        <div class="header"><a href="/"><%= title %></a></div>

        <div class="language-selector">
        <% getLocales().forEach(locale => { %>
            <div class="language-options"><a href='/change-locale/<%= locale %>' ><%= locale %></a></div>
        <%}) %>
        </div>

        <!--<% if (!session.userLogged) { %>
            <div class="login-button"><a href="./login"><%= __('Login') %></a></div>
        <% } else { %>
            <div class="login-button"><a href="/logout"><%= __('Logout') %></a></div>
        <% } %>-->

        <div class="login-button"><a href="./login"><%= __('Login') %></a></div>
        
    </header>
</html>

